/* main page layout */

* {
	background-color: lightgrey;
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.section2 {
	flex-grow: 2; 
}

ul, 
.a, 
li,
h2,
p, 
.star__image, 
.section1, 
.tab__buttons,
.tabBtn,
.tab__image {
	background-color: snow;
}

/* heading layout */
small {
	padding-left: 10px;
}

h1, .heading__wrapper ,small {
	display: flex;
	background-color: #1976D2;
	align-items: center;
	color: snow;
	height: 100px;
}

.logo {
	width: 56px;
	height: 56px;
	background-color: #1976D2;
	padding: 10px;
}

ul, .list__wrapper, * {
	margin: 0;
	padding: 0;
}

li {
	display: flex;
	list-style-type: none;
	height: auto;
	box-sizing: border-box;
	border-bottom: 1px solid #1976D2;
}

li:hover {
	border-left: 10px solid  #1976D2;
}

h2, p {
	padding: 16px;
}

h3 {
	padding-left: 5px;
}

.tab__buttons {
	display: flex;
	width: 100%;
	height: 60px;
}

.tabBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: none;
	outline: none;
	align-items: center;
	width: 33%;
}

.tabBtn:hover {
	color: #1976D2;
	border-bottom: 5px solid #1976D2;
}

button {
	margin-left: 5px;
	background-color: #CDDC39;
	text-transform: uppercase;
}

span {
	font-size: medium;
}

em {
	font-size: larger;
	font-style: normal;
}

a {
	color: black;
}

a:hover {
	color: #1976D2;
}

a::selection {
  color: #1976D2;
}
